.portfolio {
    background-color: var(--bg-main-grey);
    text-align: center;
    padding: 80px 20px 100px 20px;
    color: var(--color-main-black);
}

.portfolio-title {
    font-weight: 700;
    font-size: 34px;

}

.portfolio-picture {
    margin: 75px 0 40px 0;
    width: min(100%, 950px);
    height: min(100%, 630px);
    object-fit: contain;
    /* width: 100%;
    max-width: 950px;
    height: 630px; */
}

.portfolio-discription {
    font-weight: 500;
    font-size: 18px;
}

@media (max-width: 480px) {
    /* .portfolio-picture {
        width: 310px;
        height: 210px;
    } */

    .portfolio-discription {
        font-size: 14px;
    }

    .portfolio-picture {
    margin: 50px 0 30px 0;
}
}